.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  / /header
  / Header
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          %h3 System Office
  -if(flash[:success]!=nil)
    %div{:class => "alert alert-success"}
      %H6=flash[:success]
  -if(flash[:danger]!=nil)
    %div{:class => "alert alert-danger"}
      %H6=flash[:danger]
  .content.mt-3
    .animated.fadeIn
      .row
        .col-md-12
          .card
            .card-body
              %table#bootstrap-data-table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Office Name
                    %th Office Acronym
                    %th Head
                    %th Action
                %tbody
                  -@office.each do |office|
                    %tr
                      %td= office.name
                      %td= office.acronym
                      %td= User.find(office.user_id).fname + " " + User.find(office.user_id).mname + " " + User.find(office.user_id).lname
                      %td
                        = link_to(edit_office_path(office), method: :get, class: 'btn btn-warning') do
                          %i.fa.fa-edit>
                            Edit
            = link_to(new_office_path, method: :get, class: 'btn btn-success') do
              %i.fa.fa-plus-square-o>
                Add Office
    / .animated
  / .content
/ /#right-panel
/ Right Panel
:javascript
  $(document).ready(function() {
    $('#bootstrap-data-table-export').DataTable();
  } );
