.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  .sufee-login.d-flex.align-content-center.flex-wrap
    .container
      .login-form
        %h3{:style=>"text-align: center;"} Office Details
        %br
        -if(flash[:errors]!=nil)
          - flash[:errors].each do |msg|
            .alert.alert-danger= msg
        -flash.clear
        = form_for @office do |f|
          .form-group
            = f.label "office name" 
            = f.text_field :name, :required => true, :class=>"form-control", :id=>"inputname", :placeholder => "Office Name"
          .form-group
            = f.label "acronym"
            = f.text_field :acronym, :required =>true, :type=>"text", :class=>"form-control", :id=>"inputlacronym", :placeholder=>"Acronym"
          .form-group
            = f.label "Head"
            = f.text_field :user_id, :id=>"inputHead", class: "form-control", :readonly => true, :value => nil
            / %button.btn.btn-primary.btn-flat.m-b-30.m-t-30{:type => "submit"} Update Office
          %div.form-row
            %div{:class=>"form-group col-sm-3 mb-0 mt-0 ml-auto"}
              %button.btn.btn-primary{:type => "submit"} Create Office
            %div{:class=>"form-group col-sm-3 mb-0 mt-0"}
              = link_to(offices_path, method: :get, class: 'btn btn-danger') do
                Cancel

%script{:src => "assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "assets/js/popper.min.js"}
%script{:src => "assets/js/plugins.js"}
%script{:src => "assets/js/main.js"}
