%table#bootstrap-data-table.table.table-striped.table-bordered
  %thead
    %tr
      %th Date Filed
      %th Job Type
      %th Progress
      %th Actions
  %tbody
    -data.each do |req|
      %tr
        /{:onclick => "location.href='#{job_order_path(req)}'"}
        %td= req.date_filed
        %td= req.job_type
        %td= req.progress
        %td
          = link_to(job_order_path(req), method: :get, class: 'btn btn-primary') do
            %i.fa.fa-eye>
              View
          = link_to(edit_job_order_path(req), method: :get, class: 'btn btn-success') do
            %i.fa.fa-pencil>
              Edit
          = link_to "Cancel", "#smallmodal", :class => "btn btn-danger", "data-toggle" => "modal"
          #smallmodal.modal.fade{"data-backdrop" => "false", "aria-hidden" => "true", "aria-labelledby" => "smallmodalLabel", :role => "dialog", :tabindex => "-1", :style => "margin-top:50px;"}
            .modal-dialog.modal-sm{:role => "document"}
              .modal-content
                .modal-header
                  %h5#smallmodalLabel.modal-title Job Order Cancellation
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    Are you sure you want to cancel job order request?
                .modal-footer
                  %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
                  = link_to(job_order_path(req), method: :delete, class: 'btn btn-danger') do
                      Confirm