.content.mt-3
  .animated.fadeIn
    .row
      .col-lg-4
        .card
          .card-header
            %strong.card-title Select a job type
          .card-body
            / Credit Card
            #pay-invoice
              .card-body
                .card-title
                  %h4.text-center Job Types
                  %hr/
                  .form-group
                    .checkbox
                      %input#variable{:name => "variable", :type => "hidden", :value => "#{@job_type}"}
                      %input#variable2{:name => "variable2", :type => "hidden", :value => "#{@adviser_name}"}
                      %label.form-check-label{:for => "checkbox1"}
                        = check_box_tag "job_order[job_type]", "Aircon cleaning/repair/install", @job_type == "Aircon cleaning/repair/install", :id => "option1"
                        Aircon cleaning/repair/install
                    .checkbox
                      %label.form-check-label{:for => "checkbox2"}
                        = check_box_tag "job_order[job_type]", "Bulb Tube Replacement", @job_type == "Bulb Tube Replacement", :id => "option2"
                        Bulb Tube Replacement
                    .checkbox
                      %label.form-check-label{:for => "checkbox3"}
                        = check_box_tag "job_order[job_type]", "Carpentry/ Fabrication work/ repair", @job_type == "Carpentry/ Fabrication work/ repair", :id => "option3"
                        Carpentry/ Fabrication work/ repair
                    .checkbox
                      %label.form-check-label{:for => "checkbox1"}
                        = check_box_tag "job_order[job_type]", "Computer Hardware Servicing", @job_type == "Computer Hardware Servicing",  :id => "option4"
                        Computer Hardware Servicing
                    .checkbox
                      %label.form-check-label{:for => "checkbox2"}
                        = check_box_tag "job_order[job_type]", "Computer Software Servicing", @job_type == "Computer Software Servicing",  :id => "option5"
                        Computer Software Servicing
                    .checkbox
                      %label.form-check-label{:for => "checkbox3"}
                        = check_box_tag "job_order[job_type]", "Cost Estimate Formulation / POW", @job_type == "Cost Estimate Formulation / POW", :id => "option6"
                        Cost Estimate Formulation / POW
                    .checkbox
                      %label.form-check-label{:for => "checkbox1"}
                        = check_box_tag "job_order[job_type]", "DLP/LCD Services", @job_type == "DLP/LCD Services", :id => "option7"
                        DLP/LCD Services
                    .checkbox
                      %label.form-check-label{:for => "checkbox2"}
                        = check_box_tag "job_order[job_type]", "Door knob installation/repair", @job_type == "Door knob installation/repair", :id => "option8"
                        Door knob installation/repair
                    .checkbox
                      %label.form-check-label{:for => "checkbox3"}
                        = check_box_tag "job_order[job_type]", "Electric fan cleaning/repair", @job_type == "Electric fan cleaning/repair", :id => "option9"
                        Electric fan cleaning/repair
                    .checkbox
                      %label.form-check-label{:for => "checkbox1"}
                        = check_box_tag "job_order[job_type]", "Electrical installation/repair", @job_type == "Electrical installation/repair", :id => "option10"
                        Electrical installation/repair
                    .checkbox
                      %label.form-check-label{:for => "checkbox2"}
                        = check_box_tag "job_order[job_type]", "Internet & network problems", @job_type == "Internet & network problems", :id => "option11"
                        Internet & network problems
                    .checkbox
                      %label.form-check-label{:for => "checkbox3"}
                        = check_box_tag "job_order[job_type]", "Inventory taking & recording", @job_type == "Inventory taking & recording", :id => "option12"
                        Inventory taking & recording
                    .checkbox
                      %label.form-check-label{:for => "checkbox1"}
                        = check_box_tag "job_order[job_type]", "Painting/Repainting/Varnish works", @job_type == "Painting/Repainting/Varnish works", :id => "option13"
                        Painting/Repainting/Varnish works
                    .checkbox
                      %label.form-check-label{:for => "checkbox2"}
                        = check_box_tag "job_order[job_type]", "Photography/Video coverage", @job_type == "Photography/Video coverage", :id => "option14"
                        Photography/Video coverage
                    .checkbox
                      %label.form-check-label{:for => "checkbox3"}
                        = check_box_tag "job_order[job_type]", "Plumbing/Sanitary Install/repair", @job_type == "Plumbing/Sanitary Install/repair", :id => "option15"
                        Plumbing/Sanitary Install/repair
                    .checkbox
                      %label.form-check-label{:for => "checkbox1"}
                        = check_box_tag "job_order[job_type]", "Printer/ Peripheral related problems", @job_type == "Printer/ Peripheral related problems", :id => "option16"
                        Printer/ Peripheral related problems
                    .checkbox
                      %label.form-check-label{:for => "checkbox2"}
                        = check_box_tag "job_order[job_type]", "Request for Personnel assistance", @job_type == "Request for Personnel assistance", :id => "option17"
                        Request for Personnel assistance
                    .checkbox
                      %label.form-check-label{:for => "checkbox3"}
                        = check_box_tag "job_order[job_type]", "Sounds & lights services", @job_type == "Sounds & lights services", :id => "option18"
                        Sounds & lights services
                    .checkbox
                      %label.form-check-label{:for => "checkbox1"}
                        = check_box_tag "job_order[job_type]", "Streamer/Signage making", @job_type == "Streamer/Signage making", :id => "option19"
                        Streamer/Signage making
                    .checkbox
                      %label.form-check-label{:for => "checkbox2"}
                        = check_box_tag "job_order[job_type]", "Streamer installation", @job_type == "Streamer installation", :id => "option20"
                        Streamer installation
                    .checkbox
                      %label.form-check-label{:for => "checkbox3"}
                        = check_box_tag "job_order[job_type]", "Transfer/Transport items(see listing)", @job_type == "Transfer/Transport items(see listing)", :id => "option21"
                        Transfer/Transport items(see listing)
                    .checkbox
                      %label.form-check-label{:for => "others"}
                        %input#others{:name => "others", :type => "checkbox", :onclick => "enableDisableField();" }>/
                        Others
                      %input.form-control{:id => "specify", :type => "text", :placeholder => "Specify...", :name => "job_order[job_type]", :disabled => true}/
      .col-lg-8
        .card
          .card-header
            %strong.card-title Job Order Information
          .card-body.card-block
            .form-group
              %label.form-control-label{:for => "where"} Where
              = job.text_field :where, :class => 'form-control',:placeholder => "eg. CS Lecture Room", :id => "where"
            .form-group
              %label.form-control-label{:for => "date_needed"} Date Needed*
              = job.text_field :date_needed, :class => 'form-control', :type => "date"
            .form-group
              %label.form-control-label{:for => "time_needed"} Time Needed
              = job.text_field :time_needed, :class => 'form-control',:type => "time", :id => "time_needed"
            .form-group{:id => "live-search-form", :action => search_path, :method => "get"}
              %label.form-control-label{:for => "adviser"} Adviser
              %input#adviser_name{:name => "adviser_id", :type => "text", :class => 'form-control', :autocomplete => "off"}/
            #live-search-results
            .form-group
              %label.form-control-label{:for => "fund"} Fund Source
              = job.text_field :fund_source, :class => 'form-control', :placeholder => "e.g. DNSM"
            .form-group
              %label.form-control-label{:for => "information"} Order/Activity/Problem Area
              = job.text_area :information, :class => 'form-control', :rows => "9", :placeholder => "Important information"
            .form-group
              %label.form-control-label{:for => "available_materials"} Available Materials
              = job.text_area :available_materials, :class => 'form-control', :rows => "4", :placeholder => ""
            .form-group
              %label.form-control-label{:for => "user_id"}
              = job.hidden_field :user_id, :value => "#{session['user_credentials_id']}"
              = job.hidden_field :adviser_id, :id => "adviser_id"
            *The specified date should be at least 3 days earlier today
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
:javascript
  $(document).ready(function(){
    alert("Wiw");
    var adv_name = document.getElementById("variable2").value;
    if(adv_name != ""){
      document.getElementById("adviser_name").value = adv_name
    }
      $("input#adviser_name").keyup(function(){
          var url = "/job_orders/live_search";
          var x = document.getElementById("live-search-results");

          var formData= $.param($("#adviser_name").map(function(){
            return {
              value:  document.getElementById('adviser_name').value
            }
          }));
          $.get(url, formData, function(html) {
            if(x.style.display == "none"){
              x.style.display = "block"
            }
            $("#live-search-results").html(html);
            $("#myUL li").on("click", function(){
              document.getElementById('adviser_name').value = $(this).text()
              document.getElementById('adviser_id').value = this.id
              x.style.display = "none"
            });
          });
      });
  });
