.content.mt-3
  .animated.fadeIn
    - if @summary
      .row
        .col-lg-12
          .card
            .card-header
              %strong.card-title Summary
            .card-body.card-block
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "control_no"} Control Number
                .col-12.col-md-4
                  = job.text_field :control_no, :class => 'form-control', :placeholder => "XXXX-XXXXX", :readonly => true
                .col.col-md-2
                  %label.form-control-label{:for => "progress"} Status
                .col-12.col-md-4
                  = job.text_field :progress, :class => 'form-control', :placeholder => "", :readonly => true
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "user_id"} Requested by
                .col-12.col-md-4
                  -@user = User.find(@job_order.user_id)
                  = job.text_field :user_id, :class => 'form-control', :value => "#{@user.fname} #{@user.mname} #{@user.lname}", :placeholder => "", :readonly => true
                .col.col-md-2
                  %label.form-control-label{:for => "date_filed"} Date Filed
                .col-12.col-md-4
                  = job.text_field :date_filed, :class => 'form-control', :placeholder => "", :readonly => true
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "inspection_date"} Inspected Date
                .col-12.col-md-4
                  = job.text_field :inspection_date, :class => 'form-control', :placeholder => "No date", :readonly => true
                .col.col-md-2
                  %label.form-control-label{:for => "date_approved"} Date Approved
                .col-12.col-md-4
                  = job.text_field :date_approved, :class => 'form-control', :placeholder => "No date", :readonly => true
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "assignment_date"} Assignment Date
                .col-12.col-md-4
                  = job.text_field :assignment_date, :class => 'form-control', :placeholder => "No date", :readonly => true
                .col.col-md-2
                  %label.form-control-label{:for => "date_started"} Date Started
                .col-12.col-md-4
                  = job.text_field :date_started, :class => 'form-control', :placeholder => "No date", :readonly => true
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "date_completed"} Date Completed
                .col-12.col-md-4
                  = job.text_field :date_completed, :class => 'form-control', :placeholder => "No date", :readonly => true
    - if @information
      .row
        .col-lg-12
          .card
            .card-header
              %strong.card-title Job Order Information
            .card-body.card-block
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "job_type"} Job Type
                .col-12.col-md-4
                  = job.select :job_type, options_for_select($job_types, @job_order.job_type), {}, class: "form-control", :id => "job_type", :readonly => @readonly
                .col.col-md-2
                  %label.form-control-label{:for => "where"} Where
                .col-12.col-md-4
                  = job.text_field :where, :required => true, :class => 'form-control',:placeholder => "eg. CS Lecture Room", :id => "where", :readonly => @readonly
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "date_needed"} Date Needed*
                .col-12.col-md-4
                  = job.text_field :date_needed, :required => true, :class => 'form-control', :type => "date", :readonly => @readonly
                .col.col-md-2
                  %label.form-control-label{:for => "time_needed"} Time Needed
                .col-12.col-md-4
                  = job.text_field :time_needed, :required => true, :class => 'form-control',:type => "time", :id => "time_needed", :readonly => @readonly
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "adviser_id"} Adviser
                .col-12.col-md-4
                  - @faculty = User.all.where('position = ?', 'Faculty').collect{|x| [x.fname + ' '+ x.mname + ' ' + x.lname, x.id]}
                  = job.select :adviser_id, options_for_select(@faculty, @job_order.adviser_id), {}, class: "form-control", :id => "adviser_id", :readonly => @readonly
                .col.col-md-2
                  %label.form-control-label{:for => "fund"} Fund Source
                .col-12.col-md-4
                  = job.text_field :fund_source, :class => 'form-control', :placeholder => "e.g. DNSM", :readonly => @readonly
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "money_budget"} Budget
                  %label.form-control-label{:for => "acknowledgment", :class => "mt-3"} Acknowledgment
                .col-12.col-md-4
                  = job.text_field :money_budget, :class => 'form-control', :placeholder => "0.00", :readonly => @readonly
                  = job.text_area :acknowledgment, :class => 'form-control mt-3', :rows => "2", :placeholder => "", :readonly => @readonly
                .col.col-md-2
                  %label.form-control-label{:for => "information"} Description
                .col-12.col-md-4
                  = job.text_area :information, :required => true, :class => 'form-control', :rows => "4", :placeholder => "Important information", :readonly => @readonly
              / *The specified date should be at least 3 days earlier today
    -if @inspection
      .row
        .col-lg-12
          .card
            .card-header
              %strong.card-title Inspection Information
            .card-body.card-block
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "inspected_by"} Inspected by
                .col-12.col-md-4
                  - @staffs = User.all.where('position = ?', 'Staff').collect{|x| [x.fname + ' '+ x.mname + ' ' + x.lname, x.id]}
                  = job.select :inspected_by_id, options_for_select(@staffs, @job_order.inspected_by_id), {}, class: "form-control", :id => "inspected_by_id", :required => @inspection, :readonly => @readonly
                .col.col-md-2
                  %label.form-control-label{:for => "code"} Code
                .col-12.col-md-4
                  = job.select :code, options_for_select($codes, @job_order.code), {}, class: "form-control", :id => "code", :required => @inspection, :readonly => @readonly
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "available_materials"} Available Materials
                .col-12.col-md-4
                  = job.text_area :available_materials, :class => 'form-control', :rows => "2", :placeholder => "", :id => "available_materials", :readonly => @readonly
                .col.col-md-2
                  %label.form-control-label{:for => "inspection_remarks"} Remarks
                .col-12.col-md-4
                  = job.text_area :inspection_remarks, :class => 'form-control', :rows => "2", :placeholder => "", :id => "inpsection_remarks", :readonly => @readonly
    -if @office_assignment
      .row
        .col-lg-12
          .card
            .card-header
              %strong.card-title Office Assigned To
            .card-body.card-block
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "office"} Office
                .col-12.col-md-4
                  -@office = Office.pluck(:name, :id)
                  = job.select :office_id, options_for_select(@office, @job_order.office_id), {}, :id=>"office_id", :required => @office_assignment, class: "form-control", :readonly => @readonly 
                .col.col-md-2
                  %label.form-control-label{:for => "delivery_date"} Expected Delivery Date
                .col-12.col-md-4
                  = job.text_field :delivery_date, :class => 'form-control', :type => "date", :required => @office_assignment, :readonly => @readonly
    -if @task_assignment
      .row
        .col-lg-12
          .card
            .card-header
              %strong.card-title Task Assigned To
            .card-body.card-block
              .row.form-group
                .col.col-md-2
                  %label.form-control-label{:for => "assigned_worker"} Assigned Worker
                .col-12.col-md-4
                  - @staffs = User.all.where('position = ?', 'Staff').collect{|x| [x.fname + ' '+ x.mname + ' ' + x.lname, x.id]}
                  = job.select :assigned_to_id, options_for_select(@staffs, @job_order.assigned_to_id), {}, class: "form-control", :id => "assigned_to_id", :required => @task_assignment, :readonly => @readonly
                .col.col-md-2
                  %label.form-control-label{:for => "assignment_remarks"} Remarks
                .col-12.col-md-4
                  = job.text_area :assignment_remarks, :class => 'form-control', :rows => "2", :placeholder => "", :id => "assignment_remarks", :readonly => @readonly