.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  = form_for(:job_order, :url => "/job_orders/admin_approve_job_order/#{@job_order.id}", :method => 'get') do |job|
    = render(:partial => "request_form", :locals => {:job => job})
    .animated.fadeIn
      .col-lg-8{:style => "left:33.5%;"}
        .card
          .card-header
            %strong.card-title Office doing the Job
          .card-body.card-block
            .form-group
              %label.form-control-label{:for => "control_no"} For
              = job.text_field :job_office, :class => 'form-control'
            .form-group
              %label.form-control-label{:for => "where"} Expected Delivery
              = job.text_field :delivery_date, :class => 'form-control'
            .float-right
              %button.btn.btn-primary{:type => "submit"}
                %i.fa.fa-check>
                  Submit
              = link_to(admin_reject_job_order_path(@job_order.id), method: :get, class: 'btn btn-danger') do
                %i.fa.fa-times>
                  Reject

%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "/assets/js/popper.min.js"}
%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
:javascript
  function enableDisableField() {
    var cb1 = document.getElementById('others').checked;
    document.getElementById('specify').disabled = !cb1;
  }

  $(document).ready(function(){
    var job_type = document.getElementById("variable").value;
    if(!toBeChecked(job_type, "Aircon cleaning/repair/install") && !toBeChecked(job_type, "Bulb Tube Replacement") && !toBeChecked(job_type, "Carpentry/ Fabrication work/ repair") &&
      !toBeChecked(job_type, "Computer Hardware Servicing") && !toBeChecked(job_type, "Computer Software Servicing") &&!toBeChecked(job_type, "Cost Estimate Formulation / POW") &&
      !toBeChecked(job_type, "DLP/LCD Services") &&!toBeChecked(job_type, "Door knob installation/repair") &&!toBeChecked(job_type, "Electric fan cleaning/repair") &&
      !toBeChecked(job_type, "Electrical installation/repair") &&!toBeChecked(job_type, "Internet & network problems") &&!toBeChecked(job_type, "Inventory taking & recording") &&
      !toBeChecked(job_type, "Painting/Repainting/Varnish works") &&!toBeChecked(job_type, "Photography/Video coverage") &&!toBeChecked(job_type, "Plumbing/Sanitary Install/repair") &&
      !toBeChecked(job_type, "Printer/ Peripheral related problems") &&!toBeChecked(job_type, "Request for Personnel assistance") &&!toBeChecked(job_type, "Sounds & lights services") &&
      !toBeChecked(job_type, "Streamer/Signage making") &&!toBeChecked(job_type, "Streamer installation") &&!toBeChecked(job_type, "Transfer/Transport items(see listing)" && job_type != "") ){
        document.getElementById('others').checked = true;
        document.getElementById('specify').disabled = false;
        document.getElementById('specify').value = job_type;
    }
    document.getElementById('option1').disabled = true;
    document.getElementById('option2').disabled = true;
    document.getElementById('option3').disabled = true;
    document.getElementById('option4').disabled = true;
    document.getElementById('option5').disabled = true;
    document.getElementById('option6').disabled = true;
    document.getElementById('option7').disabled = true;
    document.getElementById('option8').disabled = true;
    document.getElementById('option9').disabled = true;
    document.getElementById('option10').disabled = true;
    document.getElementById('option11').disabled = true;
    document.getElementById('option12').disabled = true;
    document.getElementById('option13').disabled = true;
    document.getElementById('option14').disabled = true;
    document.getElementById('option15').disabled = true;
    document.getElementById('option16').disabled = true;
    document.getElementById('option17').disabled = true;
    document.getElementById('option18').disabled = true;
    document.getElementById('option19').disabled = true;
    document.getElementById('option20').disabled = true;
    document.getElementById('option21').disabled = true;
    document.getElementById('others').disabled = true;

    document.getElementById('control_no').disabled = true;
    document.getElementById('where').disabled = true;
    document.getElementById('date_needed').disabled = true;
    document.getElementById('time_needed').disabled = true;
    document.getElementById('order').disabled = true;
    document.getElementById('requester').disabled = true;
    document.getElementById('adviser').disabled = true;
    document.getElementById('fund').disabled = true;
  });
  function toBeChecked(job_type, value){
    if(value == job_type){
      return true;
    }
    return false;
  }
