.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  / /header
  / Header
  .breadcrumbs
    .col-sm-12
      .page-header.float-center
        .page-title
          %h3{:style=>"text-align: center;"}= @title
  .content.mt-3
    .animated.fadeIn
      .row
        .col-md-12
          .card
            .card-body
              %table#bootstrap-data-table.table.table-striped.table-bordered
                %thead
                  %tr
                    
                    %th Control Number
                    -if !@current_user.has_role? :Standard_User
                      %th Requested by
                    %th Job Type
                    %th Date Filed
                    %th Where
                    %th Status
                %tbody
                  -if !@job_orders.blank?
                    -@job_orders.each do |job|
                      %tr{:onclick => "location.href='#{job_order_path(job)}'"}
                        %td= job.control_no
                        -if !@current_user.has_role? :Standard_User
                          -@requester = User.find(job.user_id)
                          %td= @requester.fname + ' ' + @requester.mname + ' ' + @requester.lname
                        %td= job.job_type
                        %td= job.date_filed
                        %td= job.where
                        %td= job.progress

%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
%script{:src => "/assets/js/lib/data-table/datatables.min.js"}
%script{:src => "/assets/js/lib/data-table/dataTables.bootstrap.min.js"}
%script{:src => "/assets/js/lib/data-table/dataTables.buttons.min.js"}
%script{:src => "/assets/js/lib/data-table/buttons.bootstrap.min.js"}
%script{:src => "/assets/js/lib/data-table/jszip.min.js"}
%script{:src => "/assets/js/lib/data-table/pdfmake.min.js"}
%script{:src => "/assets/js/lib/data-table/vfs_fonts.js"}
%script{:src => "/assets/js/lib/data-table/buttons.html5.min.js"}
%script{:src => "/assets/js/lib/data-table/buttons.print.min.js"}
%script{:src => "/assets/js/lib/data-table/buttons.colVis.min.js"}
%script{:src => "/assets/js/lib/data-table/datatables-init.js"}
