.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  / /header
  / Header
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          %h3 On-going Jobs
  .content.mt-3
    .animated.fadeIn
      .row
        .col-md-12
          .card
            .card-body
              %table#bootstrap-data-table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Control Number
                    %th Job Type
                    %th Date Filed
                    %th Delivery Date
                    %th Actions
                %tbody
                  -@ongoing_jobs.each do |job|
                    %tr
                      %td= job.control_no
                      %td= job.job_type
                      %td= job.date_filed
                      %td= job.delivery_date
                      %td
                        = link_to(job_order_path(req), method: :get, class: 'btn btn-primary') do
                          %i.fa.fa-eye>
                            View
    / .animated
  / .content
/ /#right-panel
/ Right Panel
%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "/assets/js/popper.min.js"}
%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
%script{:src => "/assets/js/lib/data-table/datatables.min.js"}
%script{:src => "/assets/js/lib/data-table/dataTables.bootstrap.min.js"}
%script{:src => "/assets/js/lib/data-table/dataTables.buttons.min.js"}
%script{:src => "/assets/js/lib/data-table/buttons.bootstrap.min.js"}
%script{:src => "/assets/js/lib/data-table/jszip.min.js"}
%script{:src => "/assets/js/lib/data-table/pdfmake.min.js"}
%script{:src => "/assets/js/lib/data-table/vfs_fonts.js"}
%script{:src => "/assets/js/lib/data-table/buttons.html5.min.js"}
%script{:src => "/assets/js/lib/data-table/buttons.print.min.js"}
%script{:src => "/assets/js/lib/data-table/buttons.colVis.min.js"}
%script{:src => "/assets/js/lib/data-table/datatables-init.js"}