.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  = form_for @job_order do |job_order|
    = render(:partial => "request_form", :locals => {:job => job_order})
    .float-right{:style => "padding-bottom: 25px; padding-right: 15px;"}
      -if (@current_user.has_role? :Faculty and @job_order.progress == JobOrdersController::ADVISER_APPROVAL) or (@current_user.has_role? :Office_Head and Office.find(@current_user.office_id).name == "Supervising Administrative Office" and @job_order.progress == JobOrdersController::SAO_APPROVAL)
        = link_to(approve_job_order_path(@job_order), method: :get, class: 'btn btn-primary') do
          %i.fa.fa-thumbs-up
            Approve
        = link_to(reject_job_order_path(@job_order), method: :get, class: 'btn btn-danger') do
          %i.fa.fa-thumbs-down
            Reject
      -elsif @current_user.has_role? :Staff and @job_order.progress == JobOrdersController::READY_JOB and @job_order.assigned_to_id == @current_user.id
        = link_to(start_job_order_path(@job_order), method: :get, class: 'btn btn-secondary') do
          %i.fa.fa-toggle-right
            Start Job
      -elsif @current_user.has_role? :Staff and @job_order.progress == JobOrdersController::ONGOING_JOB and @job_order.assigned_to_id == @current_user.id
        = link_to(edit_job_order_path(@job_order), method: :get, class: 'btn btn-primary') do
          %i.fa.fa-edit
            Edit
        = link_to(done_job_order_path(@job_order), method: :get, class: 'btn btn-success') do
          %i.fa.fa-check-square
            Done Job
      -elsif @job_order.progress != JobOrdersController::FINISHED_JOB and @job_order.progress != JobOrdersController::CANCELLED and @job_order.progress != JobOrdersController::REJECTED_SAO and @job_order.progress != JobOrdersController::REJECTED_ADVISER
        = link_to(edit_job_order_path(@job_order), method: :get, class: 'btn btn-primary') do
          %i.fa.fa-edit
            Edit
        -if @current_user.id == @job_order.user_id
          = link_to(cancel_job_order_path(@job_order), method: :get, class: 'btn btn-danger') do
            %i.fa.fa-times
             	Cancel