.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  = form_for(:job_order, :url => "/job_orders/admin_approve_job_order/#{@job_order.id}", :method => 'get') do |job|
    = render(:partial => "unapproved_request_form", :locals => {:job => job})
    .animated.fadeIn
      .col-lg-8{:style => "left:33.5%;"}
        .card
          .card-header
            %strong.card-title Office doing the Job
          .card-body.card-block
            .form-group{:id => "live-search-form2", :action => search2_path, :method => "get"}
              %input#variable3{:name => "variable3", :type => "hidden", :value => "#{@job_office_name}"}
              = job.text_field :office_id, :class => 'form-control', :type => "hidden", :id => "office_id"
              %label.form-control-label{:for => "Adviser"} For
              %input#office_name{:name => "office_name", :type => "text", :class => 'form-control', :autocomplete => "off"}/
            #live-results
            .form-group
              %label.form-control-label{:for => "control_no"} Expected delivery Date
              = job.text_field :delivery_date, :class => 'form-control', :type => "date"
            .float-right
              %button.btn.btn-primary{:type => "submit"}
                %i.fa.fa-check>
                  Approve
              = link_to(admin_reject_job_order_path(@job_order.id), method: :get, class: 'btn btn-danger') do
                %i.fa.fa-times>
                  Reject

%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
