.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  .sufee-login.d-flex.align-content-center.flex-wrap
    .container
      .login-form
        %h3{:style=>"text-align: center;"} Account Details
        %br
        -if(flash[:errors]!=nil)
          - flash[:errors].each do |msg|
            .alert.alert-danger= msg
        -flash.clear
        = form_for :user, url: users_path do |f|
          %div.form-row
            %div{:class=>"form-group col-md-4"}
              = f.label "firstname"
              = f.text_field :fname, :required => true, :class=>"form-control", :id=>"inputfirstname", :placeholder => "Firstname"
            %div{:class=>"form-group col-md-4"}
              = f.label "middlename"
              = f.text_field :mname, :class=>"form-control", :id=>"inputmiddlename", :placeholder => "Middlename"
            %div{:class => "form-group col-md-4"}
              = f.label "lastname"
              = f.text_field :lname, :required => true,  :type=>"text", :class=>"form-control", :id=>"inputlastname", :placeholder=>"Lastname"
          .form-group
            = f.label "Division/Office"
            -@office = Office.pluck(:name, :id)
            = f.select :office_id, options_for_select(@office), {}, :id=>"inputDivDept", class: "form-control"
          .form-group
            = f.label "position"
            = f.select :position, options_for_select(["Student", "Administrator", "Faculty", "Staff", "Office Head"], @user.position), {}, :id=>"inputposition", :class=> "form-control"
          .form-group
            = f.label "username"
            = f.text_field :username, :required => true,  :placeholder => "Username", :type => "text", class: "form-control"
          .form-group
            = f.label "email"
            = f.email_field :email, :required => true,  :placeholder => "Email", :type => "email", class: "form-control"
          .form-group
            = f.label "password"
            = f.password_field :password, :required => true,  :placeholder => "Password", :type => "password", :pattern=>".{8,}",:title=>"Password should be a minimum of 8 characters", :id=>"password", class: "form-control"
          .form-group
            = f.label "confirm password"
            = f.password_field :password_confirmation, :required => true,  :placeholder => "Confirm Password", :type => "password", :oninput=>"check(this);", :id=>"confirmpassword", class: "form-control"
          %div.form-row
            %div{:class=>"form-group col-sm-3 mb-0 mt-0 ml-auto"}
              %button.btn.btn-primary{:type => "submit"} Create Account
            %div{:class=>"form-group col-sm-3 mb-0 mt-0"}
              = link_to(users_path, method: :get, class: 'btn btn-danger') do
                Cancel
