%body.bg-dark
  .sufee-login.d-flex.align-content-center.flex-wrap
    .container
      .login-content
        .login-logo
          %a{:href => "index.html"}
            %img.align-content{:alt => "", :src => "images/logo.png"}/
        .login-form
          %h3{:id=>"signuptitle"} Sign Up
          %br
          -if(flash[:danger]!=nil)
            %div{:class => "alert alert-danger"}
              %H6=flash[:danger]
          = form_for @user do |f|
            %div.form-row
              %div{:class=>"form-group col-md-4"}
                = f.label "firstname"
                = f.text_field :fname, :required => true, :class=>"form-control", :id=>"inputfirstname", :placeholder => "Firstname"
              %div{:class=>"form-group col-md-4"}
                = f.label "middlename"
                = f.text_field :mname,:required => true, :class=>"form-control", :id=>"inputmiddlename", :placeholder => "Middlename"
              %div{:class => "form-group col-md-4"}
                = f.label "lastname"
                = f.text_field :lname, :required =>true, :type=>"text", :class=>"form-control", :id=>"inputlastname", :placeholder=>"Lastname"
            .form-group
              = f.label "Division/Department"
              = f.select :Division_Department, options_for_select(["Division of Natural Sciences and Mathematics", "Division of Social Sciences", "Division of Management", "Division of Humanities", "Finance Department", "Dean's Department", "Supervising Administrative Office", "CDMO"]), {}, :id=>"inputDivDept", class: "form-control"
            .form-group
              = f.label "position"
              = f.select :position, options_for_select(["Student", "Adviser", "Faculty", "Staff", "Chairperson/Head"]), {}, :id=>"inputposition", class: "form-control"
            .form-group
              = f.label "username"
              = f.text_field :username, :required =>true, :placeholder => "Username", :type => "text", class: "form-control"
            .form-group
              = f.label "email"
              = f.email_field :email, :required =>true, :placeholder => "Email", :type => "email", class: "form-control"
            .form-group
              = f.label "password"
              = f.password_field :password, :required =>true, :placeholder => "Password", :type => "password", :pattern=>".{8,}",:title=>"Password should be a minimum of 8 characters", :id=>"password", class: "form-control"
            .form-group
              = f.label "confirm password"
              = f.password_field :password_confirmation, :required =>true, :placeholder => "Confirm Password", :type => "password", :oninput=>"check(this);", :id=>"confirmpassword", class: "form-control"
              %label
                %input{:required =>true, :type => "checkbox"}/
                Agree the terms and policy
            %button.btn.btn-primary.btn-flat.m-b-30.m-t-30{:type => "submit"} Register
            .register-link.m-t-15.text-center
              %p
                Already have account ?
                %a{:href => root_path} Sign in
  %footer{:id=>"userfooter"}
    %p &copy;All rights reserved 2018. Krabby Inc.
  %script{:src => "assets/js/vendor/jquery-2.1.4.min.js"}
  %script{:src => "assets/js/popper.min.js"}
  %script{:src => "assets/js/plugins.js"}
  %script{:src => "assets/js/main.js"}
