%body.bg-dark
  .sufee-login.d-flex.align-content-center.flex-wrap
    .container
      .login-content
        .login-form
          %h3{:style=>"text-align: center;"} New Account
          %br
          -if(flash[:errors]!=nil)
            - flash[:errors].each do |msg|
              .alert.alert-danger= msg
          -if(flash[:success]!=nil)
            .alert.alert-danger= flash[:success]
          -flash.clear
          = form_for :user, url: register_user_path do |f|
            %div.form-row
              %div{:class=>"form-group col-md-4"}
                = f.label "firstname"
                = f.text_field :fname, :required => true, :class=>"form-control", :id=>"inputfirstname", :placeholder => "Firstname"
              %div{:class=>"form-group col-md-4"}
                = f.label "middlename"
                = f.text_field :mname, :class=>"form-control", :id=>"inputmiddlename", :placeholder => "Middlename"
              %div{:class => "form-group col-md-4"}
                = f.label "lastname"
                = f.text_field :lname, :required =>true, :type=>"text", :class=>"form-control", :id=>"inputlastname", :placeholder=>"Lastname"
            .form-group
              = f.label "Division/Office"
              -@office = Office.pluck(:name, :id)
              = f.select :office_id, options_for_select(@office), {}, :id=>"inputDivDept", class: "form-control"
            .form-group
              = f.label "position"
              = f.select :position, options_for_select(["Standard User", "Administrator", "Faculty", "Staff", "Office Head"], @user.position), {}, :id=>"inputposition", :class=> "form-control"
            .form-group
              = f.label "username"
              = f.text_field :username, :required =>true, :placeholder => "Username", :type => "text", class: "form-control"
            .form-group
              = f.label "email"
              = f.email_field :email, :required =>true, :placeholder => "Email", :type => "email", class: "form-control"
            .form-group
              = f.label "password"
              = f.password_field :password, :required =>true, :placeholder => "Password", :type => "password", :pattern=>".{8,}",:title=>"Password should be a minimum of 8 characters", :id=>"password", class: "form-control"
            .form-group
              = f.label "confirm password"
              = f.password_field :password_confirmation, :required =>true, :placeholder => "Confirm Password", :type => "password", :oninput=>"check(this);", :id=>"confirmpassword", class: "form-control"
              %label
                %input{:required =>true, :type => "checkbox"}/
                Agree the terms and policy
            %button.btn.btn-primary.btn-flat.m-b-30.m-t-30{:type => "submit"} Register
            .register-link.m-t-15.text-center
              %p
                Already have account ?
                %a{:href => root_path} Sign in

/ %script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}  
/ %script{:src => "/assets/js/popper.min.js"}
%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
