%body.bg-dark
  .sufee-login.d-flex.align-content-center.flex-wrap
    .container
      .login-content
        .login-logo
          %a{:href => root_path}
            %img.align-content{:alt => "", :src => "images/lg.png"}/
        .login-form
          -if flash[:errors]!=nil
            - flash[:errors].each do |msg|
              .alert.alert-danger= msg
          -flash.clear
          = form_for @user_session do |f|
            / .form-group
            /   = f.label :email
            /   = f.email_field :email, :required => true, class: 'form-control'
            .form-group
              = f.label :username
              = f.text_field :username, :required => true, class: 'form-control'
            .form-group
              = f.label :password
              = f.password_field :password, :required => true, class: 'form-control'
            .form-group
              = f.submit "Log in!", class: 'btn btn-primary btn-lg'
            .register-link.m-t-15.text-center
              %p
                Don't have account ?
                %a{:href => signup_user_path} Sign Up Here
  %script{:src => "assets/js/vendor/jquery-2.1.4.min.js"}
  %script{:src => "assets/js/popper.min.js"}
  %script{:src => "assets/js/plugins.js"}
  %script{:src => "assets/js/main.js"}
